* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #000925;
}

main {
  padding: 1rem;
}

h1, h2 {
  color: #eee;
  text-align: center;
}

h3 {
  padding-bottom: 2rem;
  color: #000105;
  font-size: 1.8rem;
}

button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #808080;
  color: #f8f8f8;
}

.btn-disabled {
  background-color: lightgray;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border: 1px solid lightgray;
}

.li-hover:hover {
  background-color: #d8d8d8;
  color: #000105; 
}

.li-selected {
  background-color: #000925; 
  color: #000105;
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: #f8f8f8; 
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  color: #000105; 
}

.container p {
  padding: 8px 0;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.modal {
  width: 50%; /* Default width for larger screens */
  position: relative; /* Center in the overlay */
  margin: auto;
  background-color: red;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; 
  color:#eee;
  max-height: 90vh; /* 90% of the viewport height */
  overflow-y: auto; /* Enable scrolling for overflowing content */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .modal {
    width: 80%; /* Larger width for smaller screens */
    max-height: 90vh; /* Adjust height for smaller screens */
  }
}

/* Media query for large screens */
@media (min-width: 1200px) {
  .modal {
    width: 40%; /* Smaller width for larger screens */
    max-height: 80vh; /* Adjust height for larger screens */
  }
}

.modal p {
text-align: center;
padding: 10px;;
}

.modal h2{
  text-align: center;
  padding: 10px;  
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}

.modal img{
  max-width: 100%; /* Full width of the modal */
  max-height: 40vh; /* Maximum height to avoid overflow */
  height: auto; /* Maintain aspect ratio */  
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /*opacity */
  z-index: 999; 
}

.reading-suggestion-container{
  padding: 20px;
  border-radius: 10px;
  background-color: #d8d8d8;
  text-align: center;
}

.reading-suggestion-container a{  
  text-decoration: none;
  font-weight: 800;
  color: #000105;
}

.timer {
  font-size: x-large;
  font-weight: 800;
}
